<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{"WELCOME" | translate}}</a>
    <ul class="nav">
        <li>
          <a class="nav-link" [routerLink]="['welcome']">Home</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['products']">Products</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['news']">News</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['about']">About Us</a>
        </li>
        <li>
          <a class="nav-link" (click)="ChangeLang('en')">English</a>
        </li>
        <li>
          <a class="nav-link" (click)="ChangeLang('ar')">Arabic</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>